.clients {
	@include adaptive-value('padding-bottom', 208, 30, 1);
}
.wrapper-min {}
.clients__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 30px;
}
.clients__item{
	text-align: center;
}
.clients__item img{
	max-width: 100%;
}