html{
	&.dark{
		body{
			background-color: #263238;
			color: #fff;
		}
		.dec-round{
			border-color: #fff;
		}
		.header__logo-link,
		.header__menu-link,
		.header__theme-switcher,
		.header__theme-reset,
		.main-block__icon{
			color: #fff;
		}
		.btn-empty{
			color: #fff;
			border-color: #fff;
		}
		.form{
			background-color: #fff;
		}
		.toggle-mnu{
			span, span:after, span:before{
				background-color: #fff;
			}
			&.on span{
				background-color: transparent;
			}
		}
		.header__menu{
			@include max-screen($md){
				background-color: $text;
				
			}
		}
	}
}