.contacts {}
.wrapper {}
.contacts__content {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	@include adaptive-value('column-gap', 104, 0, 1);
}
.sect-content {}
.form {}
.contacts__form {}
.formhandler {}
.formhandler__notices {}
.form__input {
	margin-bottom: 15px;
}
.formhandler__field {}
.form__area{
	height: 190px;
	resize:vertical;
	resize:none;
}
.btn {}
.btn-fw {}
.contacts__address {}
.contacts__row {}
.contacts__icon {}
.contacts__value {}
.bar{
	height: 200px;
	overflow-y: auto;
}