.main-block {
	position: relative;
	text-align: center;
	.wrapper {
		@include adaptive-value('padding-top', 250, 100, 1);
		@include adaptive-value('padding-bottom', 200, 30, 1);
		position: relative;
	}
}
.main-block__content {
	display: grid;
	justify-items: center;
	.title {
		max-width: 800px;
		@include adaptive-value('margin-bottom', 69, 30, 1);
	}
	.text {
		margin-bottom: 48px;
		max-width: 600px;
	}

}
.title {
	font-weight: 700;
	@include adaptive-value('font-size', 78, 30, 1);
	line-height: calc(78 / 70);

	span{
		color: $accent;
	}
}
.text {
	font-weight: 400;
	@include adaptive-value('font-size', 18, 14, 1);
	line-height: 180%;


}
.form {
	position: relative;
	display: grid;
	grid-template-columns: auto 163px;
	width: 100%;
	max-width: 533px;
	padding: 6px;
	background-color: rgba(38, 50, 56, 0.1);
	border-radius: 10px;

	@include max-screen($xs){
		grid-template-columns: auto;
	}

}
.form__input {
	padding: 0 19px;
	outline: none;
	border: none;
	@include placecolor($text);
	font-size: 18px;
	background-color: transparent;

	@include max-screen($xs){
		height: 64px;
	}
}
.btn {}
.main-block__text {}
.main-block__icons {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	@include max-screen($md){
		display: none;
	}
}
.main-block__icon {
	position: absolute !important;
	color: rgba(38, 50, 56, 0.4);
}
.icon-dollar {
	font-size: 26px;
	top: prc(695, 981) !important;
	left: prc(8, 1620) !important;
}
.icon-star-full {
	font-size: 36px;
	top: prc(389, 981) !important;
	left: prc(300, 1620) !important;	
}
.icon-suck {
	font-size: 48px;
	top: prc(144, 981) !important;
	left: prc(1100, 1620) !important;
}
.icon-ellipse-empty {
	font-size: 17px;
	top: prc(768, 981) !important;
	left: prc(400, 1620) !important;
}
.icon-ellipse-full {
	// font-size: 26px;
	top: prc(429, 981) !important;
	left: prc(1375, 1620) !important;
}
.icon-star-empty {
	font-size: 36px;
	top: prc(776, 981) !important;
	left: prc(1372, 1620) !important;
}