.onepage-pagination{
	right: auto;
	left: calc((100% - 1060px)/2);
}
.onepage-pagination li a{
	padding: 20px;

	&:before{
		width: 6px;
		height: 6px;
		background-color: $accent;
	}

	&.active{
		position: relative;
		width: 25px;
		height: 25px;
		background-color: transparent;
		border: 4px solid rgba($accent, .2);
		border-radius: 100%;

		&:before{
			content: '';
			width: 11px;
			height: 11px;
			@include absolute-center;
			background-color: $accent;
			border-radius: 100%;
			margin-top: 0;
			border: none;
		}

		&:after{
			content: '';
			width: 61px;
			height: 61px;
			@include absolute-center;
			max-width: none;
			max-height: none;
			background-image: url(../images/dist/section-nav-light.png);
			background-repeat: no-repeat;
		}

	}
}