.works {}
.wrapper {}
.workss__content {
	display: flex;
	justify-content: center;
	// align-items: center;
	flex-direction:column;

}
.sect-content {}
.works__header {
	margin-bottom: 144px;

	@include min-screen($xss){
		display: flex;
		justify-content: space-between;	
		align-items: center;
		
	}
		.title {
			margin-bottom: 0;	
		}
}
.title__sub {}
.title__headin {}
.works__navs {
	display: flex;
	gap: 16px;

	@include max-screen($xss){
		display: none;
		
	}
}
.works__nav {
	width: 40px;
height: 40px;
	background: #EAE6FE;
border-radius: 16px;


	&.swiper-button-disabled{
		opacity: 0.5;
	}

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}

	@include min-screen($xss){
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
}
.works__nav--prev {
	&:before{
		transform: rotate(180deg);
	}

}
.works__nav--next {}
.title {}
.title__sub {}
.title__headin {}
.swiper {}
.swiper-container {}
.works__cards {
	max-width: 100%;
	@include max-screen($xss){
		margin-left: 0;
		margin-right: -30px;
	}
}
.swiper-wrapper {

}
.works__card {}
.card-works {
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// outline: 1px solid;
	height: auto;
}
.swiper-slide {}
._fit {}
.card-works__img {
	margin-bottom: 24px;
	height: 0;
	padding-bottom: prc(302, 363);
	flex: 0 0 auto;
	._fit-img {
		object-position: top;
		
	}
}
.card-works__bottom {
	display: flex;
	flex-direction: column;
	// justify-self: end;
	padding-bottom: 24px;
	flex: 1 1 auto;
}
.card-works__title {
	margin-bottom: 15px;
}
.card-works__tech {
	margin-top: auto;
	display: flex;
	align-items: center;
	gap: 18px;
	a{
	color: #656D72;
		
	}
}
.card-works__tech-name {
}
.card-works__link {
	font-size: 20px;
}
.swiper-button-prev {}
.swiper-button-next {}